<table class="table table-dark  table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Disponible</th>
            <th>Imagen</th>
            <th>Compra</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let picada of picadas" [ngClass]="{'table-info': picada.off}" >
            <td>{{picada.name}}</td>
            <td>{{picada.type}}</td>
            <td>{{picada.price | currency}}</td>
            <td>
                <div class="alert alert-warning" role="alert" *ngIf="picada.stock == 0">
                <b>Sin stock</b>
                </div>
            </td>
            <td class="td-img-conteinter">
                <img src={{picada.image}} alt="" class="beer-img">
            </td>
            <td>
                <app-input-integer [(quantity)]="picada.quantity" [max]="picada.stock"  *ngIf="picada.stock > 0" (maxReached)="maxReached($event)"></app-input-integer>
                <!-- <p>Cant: {{picada.quantity}}</p> -->
                <p *ngIf="(picada.stock == picada.quantity) && (this.max === 'MAX') && (picada.stock != 0)">MAX</p>
            </td>
            <td>
                <button type="button" class="btn btn-success" (click)="addToCart(picada)">Agregar</button>
            </td>
        </tr>
    </tbody>
</table>
